{ config, pkgs, ... }:

{
  programs.git = {
    enable = true;

    settings = {
      user.name = "Taro Yamada";
      user.email = "taro@example.com";
      init.defaultBranch = "main";
      
      # Access Github through SSH
      # Uncomment the following two lines when you want to enable
#      url."git@github.com:".insteadOf = "https://github.com/";
#      url."ssh://git@github.com".insteadOf = "https://github.com";
    };
  };

}
